attrs==18.2.0
cffi==1.12.1
cfgrib==0.9.7.1
cftime==1.0.3.4
Click==7.0
cycler==0.10.0
entrypoints==0.3
flake8==3.7.6
future==0.17.1
geos==0.2.1
itsdangerous==1.1.0
Jinja2>=2.10.1
jsonschema==2.6.0
kiwisolver==1.0.1
lxml==4.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
netCDF4==1.4.2
numpy==1.16.1
psycopg2==2.7.7
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.0
pyparsing==2.3.1
pyproj==1.9.6
pyshp==2.1.0
python-dateutil==2.8.0
pytz==2018.9
rope==0.14.0
scipy==1.2.1
six==1.12.0
typing==3.6.6
xarray==0.16.2
https://github.com/matplotlib/basemap/archive/v1.1.0.tar.gz
